.venv/
__pycache__/
*.pyc

# Data
data/
combined_dataset/
*.zip
*.npy

# Models (keep selected ones only if needed)
saved_models/

# Ignore heavy feature dumps
saved_models/Approach2/features/

# OS / misc
.DS_Store